<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;

            width: 50%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <title>QA Weekly status</title>


</head>

<h1 style="text-align: center;">
    <B>
        <font color="black">QA Weekly report</font>
    </B>
</h1>
</br>



        <table  align="center" style="width:20%;height:100%">

<tbody>
    <p>
            <tr style="font-size: large;">
                <th style="text-align: center;width:10%" ><font color="black" style="font-size:1vw">Month : </font> </th>
                <td style="text-align: center;width:10%" ><font color="black"style="font-size:1vw">${Month}</font>  </td>
                </tr>

            <tr style="font-size: large;">
               
                <th style="text-align: center;width:10" ><font color="black" style="font-size:1vw">From Date : </font> </th>
                <td style="text-align: center;width:10" ><font color="black"style="font-size:1vw">${Date}</font> </td>

            </tr>
            <tr style="font-size: large;">
                  <th style="text-align: center;width:10" ><font color="black"style="font-size:1vw">To Date :</font> </th>
                  <td style="text-align: center;width:10" ><font color="black"style="font-size:1vw"> ${Date} :</font></td>
            </tr>
            
        </p>
           </tbody>
        </table>



    
    </br>
    </br>
    </br>
    </br>
    </br>

    <table align="center" style="width:5%;height:100%">



        <tr bgcolor="#87ceeb" style="width:1000%;height:1000%">



            <th colspan="8" style="text-align: center;">DEFECT SUMMARY BY STATUS</th>

        </tr>



        <tr>

            <th style="text-align: center;width:10%" >Project </th>

            <th style="text-align: center;width:10%">Backlog</th>

            <th style="text-align: center;width:10%">Dev In Progress</th>

            <th style="text-align: center;width:10%">Review</th>

            <th style="text-align: center;width:10%">To QA</th>

            <th style="text-align: center;width:10%">QA In Progress</th>

            <th style="text-align: center;width:10%">Released</th>

            <th style="text-align: center;width:10%">Total</th>

        </tr>

        </tr>

        <tbody>
            <tr>
                <td style="text-align: center;width:10%">
                    <font color="black">CouldBLM</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Backlog}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Dev_In_Progress}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Review}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${To_QA}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${QA_In_Progress}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Released}</font>
                </td>


            </tr>
            <tr>
                <td style="text-align: center;width:10%">
                    <font color="black">Google</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Backlog}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Dev_In_Progress}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Review}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${To_QA}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${QA_In_Progress}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Released}</font>
                </td>
            </tr>
        </tbody>
    </table>

    </br>
    </br>
    </br>
    </br>
    </br>


    <table align="center" style="width:45%;height:100%">



        <tr bgcolor="#87ceeb" style="width:1000%;height:1000%">



            <th colspan="6" style="text-align: center;">DEFECT SUMMARY BY PRIORITY</th>

        </tr>



        <tr>

            <th style="text-align: center;width:30%">Project </th>

            <th style="text-align: center;width:30%">Crititcal</th>

            <th style="text-align: center;width:30%">High</th>

            <th style="text-align: center;width:30%">Moderate</th>

            <th style="text-align: center;width:30%">Low</th>

            <th style="text-align: center;width:30%">Lowest</th>

        </tr>

        </tr>

        <tbody>
            <tr>
                <td style="text-align: center;width:10%">
                    <font color="black">CouldBLM</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Critical}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${High}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Moderate}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Low}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Lowest}</font>
                </td>

            </tr>
            <tr>
                <td style="text-align: center;width:10%">
                    <font color="black">Google</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Critical}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${High}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Moderate}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Low}</font>
                </td>
                <td style="text-align: center;width:10%">
                    <font color="black">${Lowest}</font>
                </td>

            </tr>

        </tbody>
    </table>

</div>
</body>

</html>